/.mixin.out
/assets
/woot
/valkyrielib
/TombManyGraves
/signpic
/saves
/resources
/mputils
/mods
/logs
/local
/libraries
/journeymap
/crash-reports
/backups
/astralsorcery
WailaErrorOutput.txt
usernamecache.json
usercache.json
updeta.sh
updeta.bat
servers.dat
serverobserver.cfg
options.txt
minecraftinstance.json
ExtraBotanyVars.dat
BotaniaVars.dat
.ReAuth.cfg
